@import url(./assets/fonts/Sprite Graffiti.otf);

body {
  background-color: black;
  font-family: "Sprite Graffiti" Sans-serif;
}

#header-img, #footer-img {
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 10;
}

#header-img {
  top: 0;
}

#footer-img {
  bottom: 0;
}

.thumbnail-index-well {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  background-color: white; 
}

.centered-x img {
  -webkit-transform: translateX(-50%);
  -moz-transform:    translateX(-50%);
  transform:         translateX(-50%);
}

div.thumbnails {
  position: fixed;
  left: 20%;
  top: 0;
  height: 100%;
  width: 80%;
}

div.slideshow-container {
  position: relative;
  height: 100%;
  padding: 125px 20px 100px 20px;

}

div.active img {
  width: 50%;
  margin-left: 50%;
  box-shadow: 0 0 20px whitesmoke;
}

.gutter {
  position: relative;
}

.gutter-images img {
  margin-top: 20px;
  box-shadow: 0 0 10px whitesmoke;
  width: 20%;
  height: 20%;
  display: inline-block;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

a.nav {
  font-family: "Sprite Graffiti";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5%;
  color: white;
  text-align: center;
  font-size: 24px;
  text-decoration: none;
}

a.nav:last-child {
  left: 95%;
}
.gutter-images {
  min-width: 100%;
  position: relative;
  white-space: nowrap;
  /*left: 5%;*/
  overflow-x: scroll;
  padding: 0;
  margin: 0;
}

.gutter-images img:hover, a.nav:hover {
  cursor: pointer;
}

.toc {
  list-style-type: none;
  font-size: 2.0em;
  padding-left: 0;
}

.toc > li {
  transition: all 500ms ease-in;
  padding: 15px;
  display: block;
  background-color: white;
  box-shadow: 5px 0 5px white;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 50;
}

.toc > li:hover {
  cursor: pointer;
}


.toc > li:nth-child(odd) {
  background-color: #D60101;
  box-shadow: 5px 0 5px #D60101;
}

.toc > li.active-state {
  color: #000F89;
  margin-left: 20px;
  margin-right: -20px;
}

.toc > li:nth-child(odd).active-state {
  color: white;
}

.toc > li:first-child {
  margin-top: 100px;
}

.toc h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0;
  color: white;
}