body {
  background-color: black;
}

#header-img, #footer-img {
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 10;
}

#header-img {
  top: 0;
}

#footer-img {
  bottom: 0;
}

.thumbnail-index-well {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 25%;
  box-shadow: 3px 0 10px white;
  background-color: white; 
/*  background-image: -webkit-repeating-linear-gradient(190deg, #610202, white 35%); 
  background-image:    -moz-linear-gradient(190deg, #610202, white 35%); 
  background-image:      -o-linear-gradient(190deg, #610202, white 35%); 
  background-image:         repeating-linear-gradient(190deg, #610202, white); */
}

/*.picture-well {
  margin: 10% auto auto 50%;
  max-height: 60%;
  overflow: scroll;
}*/

.photo {
  margin: 50px auto auto 50%;
/*  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);*/
  max-width: 80%;
  box-shadow: 5px 5px 5px darkslategray;
  /*border: 2px inset #E1E1E1;*/
  border-radius: 20px;
}

.picture-well:last-child {
  margin-bottom: 300px;
}

.centered-x img {
  -webkit-transform: translateX(-50%);
  -moz-transform:    translateX(-50%);
  transform:         translateX(-50%);
}

div.thumbnails {
  position: fixed;
  left: 25%;
  top: 0;
  height: 100%;
  width: 75%;
}

div.slideshow-container {
  position: relative;
  height: 100%;
  padding: 125px 20px 100px 20px;

}

div.active {
  /*overflow: hidden;*/
}

div.active img {
  max-width: 50%;
  margin-left: 50%;
}

.gutter {
  position: relative;
}

.gutter-images img {
  width: 20%;
  height: 20%;
  display: block;
  float: left;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

a.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5%;
  color: white;
  text-align: center;
  font-size: 24px;
  text-decoration: none;
}

a.nav:last-child {
  left: 95%;
}
.gutter-images {
  width: 90%;
  position: relative;
  left: 5%;
}

.gutter-images img:hover, a.nav:hover {
  cursor: pointer;
}