@import url(./assets/fonts/Sprite Graffiti.otf);

body {
  background-color: black;
  font-family: "Sprite Graffiti" Sans-serif;
}

#header-img {
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  max-width: 20%;
}

.thumbnail-index-well {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 15%;
  background-color: white; 
}

.centered img {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform:    translate(-50%, -50%);
  transform:         translate(-50%, -50%);
}


div.active {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 15%;
  right: 80%;
  width: 65%;
  height: 100%;
}

div.active img {
  position: relative;
  width: 80%;
  left: 50%;
  top: 50%;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 5px whitesmoke;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.gutter-images {
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  overflow: scroll;
}

.gutter-images img {
  box-shadow: 0 0 5px whitesmoke;
  margin: 10px 0;
  width: 100%;
  display: block;
}

.gutter-images img:hover, a.nav:hover {
  cursor: pointer;
}

.toc {
  list-style-type: none;
  font-size: 2.0em;
  padding-left: 0;
  padding-top: 20%;
}

.toc > li {
  transition: all 500ms ease-in;
  padding: 15px;
  display: block;
  background-color: white;
  box-shadow: 5px 0 5px white;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 50;
}

.toc > li:hover {
  cursor: pointer;
}

.toc > li:nth-child(odd) {
  background-color: #D60101;
  box-shadow: 5px 0 5px #D60101;
}

.toc > li.active-state {
  color: #000F89;
  text-align: right;
}

.toc > li:nth-child(odd).active-state {
  color: white;
}

.toc h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0;
  color: white;
}